
<h1>Clevertech AngularJS Test</h1>

<p>Please conplete the following:</p>
<ol>
    <li>Add AngularJS form validation to the register form (see inline HTML comments for validation rules).</li>
    <li>Attach your zipped code folder to your application.</li>
</ol>

<p><a href="http://clevertech.biz" target="_blank"><img src="img/clevertech-logo.png" alt="Clevertech" /></a></p>
<p><a href="http://angularjs.org" target="_blank"><img src="img/angularjs-logo.png" alt="AngularJS" /></a></p>

<p>GitHub: <a href="https://github.com/clevertech/" target="_blank">https://github.com/clevertech/</a></p>